*.aar
*.iml
*.so
.cxx
.externalNativeBuild
.gradle/
.idea/
.vscode/
.idx/
local.properties
service_account_credentials.json
obj/
build/
release/
__pycache__/
**/.DS_Store
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/